*{
    font-family: 'Indie Flower', cursive;
}



h1, h2, h3, h4, h5, h6, p, span{
    color: white;
}
/* Header Stuff */
header{
    min-height: 800px;
}
.NameContainer{
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    
}

.typed-text{
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width:541px) {
    .NameContainer h1{
        font-size: 60px;
    }
}

@media screen and (max-width:490px) {
    header .NameContainer h1{
        font-size: 50px;
    }
}
@media screen and (max-width:260px) {
    header .NameContainer h1{
        font-size: 30px;
    }
    
}

.socialList li{
    display: inline-block;
}
