* {
    font-family: 'Cinzel', serif;
    /* font-family: 'El Messiri', sans-serif;
font-family: 'Indie Flower', cursive; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: white;
}


/* Header Stuff */

header {
    min-height: 700px;
}

.NameContainer {
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.NameContainer h1 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.typed-text {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width:541px) {
    .NameContainer h1 {
        font-size: 60px;
    }
}

@media screen and (max-width:490px) {
    header .NameContainer h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:260px) {
    header .NameContainer h1 {
        font-size: 30px;
    }
}

.socialList li {
    display: inline-block;
}

.introTextCotainer {
    text-align: center;
    height: 100%;
}



.ReadNowContainer {
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.seviceContainer{
    border-left: 5px solid rgb(128, 150, 29);
    margin-top: 4px;
}