body
{
    border: 10px solid #BBDB9B;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    line-height: 12px;
    position: relative;
}

.maincontent
{
    padding-left: 100px;
    padding-top: 160px;
}

.right-half img
{
    position: absolute;
    height:100vh;
    top: 0.6px;
    left: 1092px;
    bottom: 0.6px;
    background-color: #4C4C9D;
}

.my-photo img
{
    position: absolute;
    top: 120px;
    left: 900px;
}

.container1
{
    font-family: Kleymisska;
    font-size: 50px;
}

.container2
{
    font-family: HUBBY BUNNY;
    font-size: 75px;
}

#p2
{
    color: #B80C09;
}

#p4
{
    color: #4C4C9D;
} 